<header>  
    <div class = "header">
        <center>
            <h1>Tecnologias aplicar a internet</h1>
            <h2>Examen De recuperacion </h2>
            <h3>Transferencias de informacion</h3>
            
        </center>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/index.html">Index</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!--Opcion practica 1-->
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/html/Examen.html">Examen Recuperacion
                        
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
</header>